// Colors
$bgColor: rgb(255, 254, 252);
$black: rgb(4, 4, 2);
$grey: rgb(153, 153, 153);
$action: #fcda13;

// Typography
$serif: 'Prata', serif;

// Mediaqueries
$sm: 576px;
$md: 768px;
$lg: 992px;
$xl: 1200px;